/*INICIO ARMA TU CONJUNTO*/

.armatuconjunto{ /*encabezado de la seccion*/
    background-color: rgb(217, 247, 171);
    margin: 50px 0px 50px 0px;
    text-align: center;
    padding: 10px ;
    font-family: 'Lobster Two', cursive;
}

.padreconjuntos{/*Grupo mas grande de los conjuntos*/
    display: block;
    margin: 0px 0px;
}

.conjuntosnenes{/*seccion de hombres lado izquierso*/
    background-color: white;
    width: 50%;
    text-align: center;
    /*border-width: 3px 2px 3px 3px;
    border-color: black;
    border-style: solid;*/
    display: flex;
}

.madreconjuntos{/*Grupo mas grande de los conjuntos*/
    display: block;
    margin: 0px 0px;
}

.conjuntosnenas{/*seccion mujeres lado derecho*/
    background-color: white;
    width: 50%;
    text-align: center;
    /*border-width: 3px 2px 3px 3px;
    border-color: black;
    border-style: solid; */
    display: flex;
}


ul{
    display: inline-block;
}


#imgconjuntos{/*confijuracion de todas las img de conjuntos*/
    width: 350px;
    height: 300px;
    border-radius: 60%;
}


.conjuntos123456{/*configuracion de todos los conjuntos para agragar bordes y colores*/
    border-width: 3px;
    border-color: rgb(151, 151, 151);
    border-style: solid;
    border-radius: 30%;
    margin: 20px;
    box-shadow: 5px 5px 5px rgb(108, 108, 108);
}
/*FIIIN ARMA TU CONJUNTO*/