/*INICIOOOOOOOOOOOO*/
.fondoimg{
    background: url(../fotos/WhatsApp\ Image\ 2022-06-24\ at\ 9.35.04\ PM.jpeg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
.presentacion{
    text-align: center;
    /*background: url(../fotos/WhatsApp\ Image\ 2022-06-24\ at\ 9.35.04\ PM.jpeg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-repeat: no-repeat;*/
    /*border-width: 0px 0px 2px 0px;
    border-color: black;
    border-style: solid;*/
    margin: -10px 0px 0px -10px;
}


#imgOnly{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius:50%;
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 150px;    
}
.proximamente{
    text-align: center;
    padding: 7px;
}


nav{
    
    margin: -4px -10px 5px -10px;
    padding: 40px;
    display: flex;
    justify-content: space-around;  
    /*border-width: 2px;
    border-color: black;
    border-style: solid;*/
    
}


#enlaces{
    background-color: rgb(231, 167, 69);
    padding: 20px 80px;
    margin: 15px;
    text-decoration: none;
    color: black;
    /*border-width: 2px;
    border-color: black;
    border-style: solid;*/
    border-radius: 15%;
}


#enlaces:hover{
    background-color: lightblue;
}


#enlaces:active{
    background-color: rgb(255, 255, 255);
}


.preguntas{
    display: flex;
    /*border-width: 5px;
    border-color: black;
    border-style: double;*/
    padding: 10px;
    margin: -7px -10px;
    text-align: center;
}


#parafo1{
    padding: 15px;
    margin: 15px;
    border-width: 3px;
    border-color: black;
    border-style: double;
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}


#parafo2{
    padding: 15px;
    margin: 15px;
    border-width: 3px;
    border-color: black;
    border-style: double;
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}


#parafo3{
    padding: 15px;
    margin: 15px;
    border-width: 3px;
    border-color: black;
    border-style: double;
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}




/* INICIO DE EDICION BOOTSTRAP */

#carouselExampleIndicators{
    display: none;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.dropdown{
    background-color:  rgb(231, 167, 69);
    padding: 20px 80px;
    margin: 15px;
    text-decoration: none;
    color: black;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15%;
}
#dropdownMenuButton1{
    background-color:  rgb(231, 167, 69);
    border: none;
}
.accordion{
    display: none;
    border-width: 3px;
    border-color: #cef7bc;
    border-style: solid;
    margin-top: -10px;
    
}
.accordion-body{
    background-color: white;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#flush-headingOne{
    background-color: #cef7bc;
    
}
#flush-headingTwo{
    background-color: #cef7bc;
  
}
#flush-headingThree{
    background-color: #cef7bc;
    
}
#accordionFlushExample{
    padding: 10px;
    background-color: #cef7bc;

    
}
button{
    background-color: #fcfcfc;
}



/* FIN DE EDICION BOOTSTRAP */


/*FIIIIIN INICIOOOOOOOOOOOO*/


@media (max-width: 1000px){
    #imgOnly{
        width: 80%;
    }
    #carouselExampleIndicators{
        display: block;
    }
    .preguntas{
        display: none;
    }
    .accordion{
        display: block;
        text-align: center;
    }
    nav{
        margin: -4px 0px 10px -10px;
    }

}

@media (max-width: 600px){  
    .presentacion{
        background: url(../fotos/WhatsApp\ Image\ 2022-06-24\ at\ 8.28.38\ PM.jpeg);
}
}
