/*INICIOOOOOOOOOOOO*/
.presentacion{
    text-align: center;
    background-color:  lightblue;
    border-width: 0px 0px 2px 0px;
    border-color: black;
    border-style: solid;
    margin: -10px 0px 0px -10px;
}


#imgOnly{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius:50%;
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 150px;    
}
.proximamente{
    text-align: center;
    padding: 7px;
}


nav{
    background-color: lightblue;
    margin: -4px -10px 5px -10px;
    padding: 40px;
    display: flex;
    justify-content: space-around;  
    border-width: 2px;
    border-color: black;
    border-style: solid;
    
}


#enlaces{
    background-color: bisque;
    padding: 20px 80px;
    margin: 15px;
    text-decoration: none;
    color: black;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15%;
}


#enlaces:hover{
    background-color: lightblue;
}


#enlaces:active{
    background-color: rgb(255, 255, 255);
}


.preguntas{
    display: flex;
    background-color: lightblue;
    border-width: 5px;
    border-color: black;
    border-style: double;
    padding: 10px;
    margin: -7px -10px;
    text-align: center;
}


#parafo1{
    padding: 15px;
    margin: 15px;
    border-width: 3px;
    border-color: black;
    border-style: double;
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}


#parafo2{
    padding: 15px;
    margin: 15px;
    border-width: 3px;
    border-color: black;
    border-style: double;
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}


#parafo3{
    padding: 15px;
    margin: 15px;
    border-width: 3px;
    border-color: black;
    border-style: double;
    border-radius: 20%;
    background-color: rgb(255, 255, 255);
}




/* INICIO DE EDICION BOOTSTRAP */

#carouselExampleIndicators{
    display: none;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.dropdown{
    background-color: bisque;
    padding: 20px 80px;
    margin: 15px;
    text-decoration: none;
    color: black;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15%;
}
#dropdownMenuButton1{
    background-color: bisque;
    border: none;
}
.accordion{
    display: none;
    border-width: 3px;
    border-color: lightblue;
    border-style: solid;
    margin-top: -10px;
    
}
.accordion-body{
    background-color: white;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#flush-headingOne{
    background-color: lightblue;
    
}
#flush-headingTwo{
    background-color: lightblue;
  
}
#flush-headingThree{
    background-color: lightblue;
    
}
#accordionFlushExample{
    padding: 10px;
    background-color: lightblue;

    
}
button{
    background-color: bisque;
}



/* FIN DE EDICION BOOTSTRAP */


/*FIIIIIN INICIOOOOOOOOOOOO*/


@media (max-width: 1000px){
    #imgOnly{
        width: 80%;
    }
    #carouselExampleIndicators{
        display: block;
    }
    .preguntas{
        display: none;
    }
    .accordion{
        display: block;
        text-align: center;
    }
    nav{
        margin: -4px 0px 10px -10px;
    }
}