/*INICIOOOOOOOOOOOO*/

.fondoimg{
    /*background: url(../fotos/fondogrande.jpeg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-repeat: no-repeat;
    */
    margin-top: -25px;
    background-color: white;
}

.presentacion{
    /*text-align: center;*/
    background-color: #84e9ff;
    /*background: url(../fotos/logo.jpeg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-repeat: no-repeat;*/

    /*border-width: 0px 0px 2px 0px;
    border-color: black;
    border-style: solid;
    margin: -10px 0px 0px -10px;*/
}


#imgOnly{
    /*border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius:10% 30%;*/
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    height: 95px;   
    align-items: center;
}

.proximamente{
    text-align: center;
    padding: 7px;
}

nav{
    
    margin: -4px -10px 5px -10px;
    padding: 40px;
    display: flex;
    justify-content: space-around;  
    /*border-width: 2px;
    border-color: black;
    border-style: solid;*/
    
}

#enlaces{
    background-color: rgb(217, 247, 171);
    padding: 20px 80px;
    margin: 15px;
    text-decoration: none;
    color: black;
    /*border-width: 2px;
    border-color: black;
    border-style: solid;*/
    border-radius: 15%;
}


/*#enlaces:hover{
    background-color: lightblue;
}


#enlaces:active{
    background-color: rgb(255, 255, 255);
}
*/

.preguntas{
    display: flex;
    /*border-width: 5px;
    border-color: black;
    border-style: double;*/
    padding: 10px;
    margin: -7px -10px;
    text-align: center;
}


#parafo1{
    padding: 15px;
    margin: 15px;
    border-width: 3px;
    border-color: rgb(217, 247, 171);
    border-style: solid;
    border-radius: 15% 30%;
    /*border-radius: 20%;*/
    background-color: white;
}


#parafo2{
    padding: 15px;
    margin: 15px;
    border-width: 3px;
    border-color: rgb(217, 247, 171);
    border-style: solid;
    border-radius: 15% 30%;
    background-color: rgb(255, 255, 255);
}


#parafo3{
    padding: 15px;
    margin: 15px;
    border-width: 3px;
    border-width: 3px;
    border-color: rgb(217, 247, 171);
    border-style: solid;
    border-radius: 15% 30%;
    background-color: rgb(255, 255, 255);
}


/* INICIO DE EDICION BOOTSTRAP */

#carouselExampleIndicators{
    
    /*border-width: 3px;
    /*border-style: solid;
    border-color: black;*/
    width: 100%;
    
    padding: 40px;
}

.dropdown{
    background-color: rgb(217, 247, 171) ;
    padding: 20px 80px;
    margin: 15px;
    text-decoration: none;
    color: black;
    /*border-width: 2px;
    border-color: black;
    border-style: solid;*/
    border-radius: 15%;
}
#dropdownMenuButton1{
    background-color: rgb(217, 247, 171);
    border: none;
}
.accordion{
    display: none;
    border-width: 3px;
    /*border-color: rgb(231, 167, 69);
    border-style: solid;*/
    margin-top: -10px;
    
}
.accordion-body{
    background-color: white;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#flush-headingOne{
    background-color: rgb(217, 247, 171);;
    margin: 15;
    padding: 5px;
    /*border-style: solid;
    border-color: rgb(255, 223, 163);*/
    
}
/*#flush-headingTwo{
    background-color: rgb(255, 220, 191);
    margin: 15;
    padding: 5px;
  
}*/
#flush-headingThree{
    background-color: rgb(217, 247, 171);;
    margin: 15;
    padding: 5px;
    
}
#accordionFlushExample{
    padding: 10px;
    /*background-color: rgb(231, 167, 69);*/
}

button{
    background-color: rgb(217, 247, 171);
    border: none;
}




/* FIN DE EDICION BOOTSTRAP */


/*FIIIIIN INICIOOOOOOOOOOOO*/


@media (max-width: 1000px){
    /*.fondoimg{
        background: url(../fotos/fondochico.jpeg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        background-repeat: no-repeat;
    }*/
    #imgOnly{
        width: 90%;
    }
    #carouselExampleIndicators{
        display: block;
    }
    .preguntas{
        display: none;
    }
    .accordion{
        display: block;
        text-align: center;
    }
    nav{
        margin: -4px 0px 10px -10px;
    }

}
