/*INICIO SECCION PRODUCTOS*/
.fondo{
    background: url(../fotos/fondogrande.jpeg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.productos{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffeee2;
    
    border-width: 3px;
    border-color: black;
    border-style: solid;
    
}


#productos{
    padding: 30px;
}

.container{
    display: flex;
    text-align: center;
}
#todaslasimagenes{
    width: 250px;
    height: 200px;
}
.container1{
    width: 50%;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 25% 25%;
    margin: 10px;
    background-color: #ffeee2
}

.precio{
    font-size: 30px;
}




@media (max-width: 1000px){
    .container{
        display: block;

        margin-right: 20px;

    }
    .container1{
        width: 100%;
    }
    .fondo{
        background: url(../fotos/fondochico.jpeg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/*FIN DE SECCION PRODUCTOS*/
